@model List<Group9_iCareApp.Models.PatientRecord>
@using Microsoft.AspNetCore.Identity
@inject UserManager<iCAREUser> UserManager
@inject iCAREDBContext db

@{
    ViewData["Title"] = "My Patient Board";
    var filteredPatients = (List<Group9_iCareApp.Models.PatientRecord>)ViewData["patients"];
    string error = (string)TempData["ErrorMessage"];
    string success = (string)TempData["SuccessMessage"];
}

<h1>@ViewData["Title"]</h1>

@if (filteredPatients != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">
                    Name
                    @if ((string)ViewData["CurrentSortColumn"] == "name")
                    {
                        <span>@((string)ViewData["CurrentSortDirection"] == "asc" ? "▲" : "▼")</span>
                    }
                    </a>
                </th>
                <th>
                    <a asp-action="Index" asp-route-sortOrder="@ViewData["BirthDateSortParm"]">
                    BirthDate
                    @if ((string)ViewData["CurrentSortColumn"] == "birthdate")
                    {
                        <span>@((string)ViewData["CurrentSortDirection"] == "asc" ? "▲" : "▼")</span>
                    }
                    </a>
                    </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var patient in filteredPatients)
        
            {
     
                if(patient != null)
                {
                    <tr>
                        <td>@patient.Fname @patient.Lname</td> 
                        <td>@patient.DateOfBirth</td> 
                        <td>
                            <a asp-action="TreatPatient" asp-route-patientId="@patient.Id" class="btn btn-primary">Treat</a>
                            <a asp-action="Details" asp-route-patientId="@patient.Id" class="btn btn-info">View Details</a>
                            <a asp-action="ManagePatient" asp-route-patientId="@patient.Id" class="btn btn-secondary">Manage</a>
                            
                        </td>
                    </tr>
                }
                
            }
        </tbody>
    </table>
    @if (@error != null)
    {
        <div class="alert alert-danger" role="alert">
            @error
        </div>
    }

    @if (@success != null)
    {
        <div class="alert alert-success" role="alert">
            @success
        </div>
    }
}
else
{
    <p>No patients assigned.</p>
}
