@model Group9_iCareApp.Models.PatientRecord
@{
    ViewBag.Title = "Patient Management";
    List<SelectListItem> bloodGroups = (List<SelectListItem>)ViewData["bloodtypes"];
}

@if (Model != null)
{

    <h2>Update Record for @Model.Fname</h2>


    <form asp-action="Edit" asp-controller="DisplayMyBoard" method="post">
        <input type="hidden" asp-for="Id" value ="@Model.Id" />
        <input type="hidden" asp-for="LocationId" value="@Model.LocationId" />
        <label class="mt-4">First Name</label>
        <input class="form-control mt-4" type="text" value="@Model.Fname" asp-for="Fname" />
        <label class="mt-4">Last Name</label>
        <input class="form-control mt-4" type="text" value="@Model.Lname" asp-for="Lname" />
        <label class="mt-4">Address</label>
        <input class="form-control mt-4" type="text" value="@Model.Address" asp-for="Address" />
        <label class="mt-4">Date of Birth</label>
        <input class="form-control mt-4" type="date" value="@Model.DateOfBirth?.ToString("yyyy-MM-dd")" asp-for="DateOfBirth" />
        <label class="mt-4">Height (Inches)</label>
        <input class="form-control mt-4" type="number" value="@Model.Height" asp-for="Height" />
        <label class="mt-4">Weight (Pounds)</label>
        <input class="form-control mt-4" type="number" value="@Model.Weight" asp-for="Weight" />
        <label class="mt-4" for="BloodGroup">Blood Type</label>
        <select asp-for="BloodGroup" class="form-select mt-4">
            @foreach (SelectListItem type in bloodGroups)
            {
                if (type.Value == Model.BloodGroup)
                {
                    <option value="@type.Value" selected>@type.Value</option>
                }
                else
                {
                    <option value="@type.Value">@type.Value</option>
                }

            }

        </select>
        <label class="mt-4">Bed ID</label>
        <input class="form-control mt-4" type="text" value="@Model.BedId" asp-for="BedId" />
        <label class="mt-4">Treatment Area</label>
        <input class="form-control mt-4" type="text" value="@Model.TreatmentArea" asp-for="TreatmentArea" />

        <button type="submit" class="btn btn-primary mt-4">Save</button>
        <a asp-action="Index" class="btn btn-secondary mt-4">Cancel</a>
    </form>
}
else
{
    <div class="container mt-5">
        <h2>Unable to edit the requested patient.</h2>
        <p>Either you do not have access to this patient or the patient does not exist.</p>
    </div>
}