@model IEnumerable<Group9_iCareApp.Models.Document>


<a asp-controller="ManageDocument" asp-action="CreateDocument" class="btn btn-primary">Create New Document</a>
<a asp-controller="ManageDocument" asp-action="UploadDocument" class="btn btn-secondary">Upload Documents</a>

@if (!Model.Any()){
    <p>Currently, no documents for your patients exist. Feel free to upload or create a document for them!</p>
}else{

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DocumentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DocumentName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>

                <td>
                    @Html.ActionLink("View", "ViewDocument", "ManageDocument", new { fileName = item.DocumentName })
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditDocument", "ManageDocument", new { fileName = item.DocumentName })
                </td>
            </tr>
        }
    </table>
}
